<div class="indexPage">
            <img class="beerImage" src="/images/beer.png" alt="Beer Image">
        <div clss="buttonContainer">
        <div>
            <a class="buttonFirstPage" href="/beers">Check the Beers!</a>
        </div>
        <div>
            <a class="buttonFirstPage" href="/random-beer">Check a Random Beer</a>
        </div>
        </div>
</div>