<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <nav>
        <ul>
            <li><a href="/"><span class="listItems">Home</span></a></li>
            <li><a href="/beers"><span class="listItems">Beers</span></a></li>
            <li><a href="/random-beer"><span class="listItems">Random Beer</span></a></li>
        </ul>

    </nav>
</head>
<body>
    {{{ body }}}
</body>
</html>
